/* Global styles */
/*var*/
:root{
  --color-primary: #e7a9ac;
  --color-primary-nav: #cedaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code, pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side, #FDB5B9 94%,#0000) left/20% 100%;
  background: linear-gradient(#FDB5B9 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 1s infinite steps(6);
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 60px);
}


.relative {
  position: relative;
}
.background-blur{
  width: 100%;
  height: 100%;
  filter: blur(5px);
}
@keyframes l17 {
  100% {background-size:120% 100%}
}